/**
*
* bootstrap helpers
*
*/
.text-center {
  text-align: center;
}

.d-inline-flex {
  display: inline-flex;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}

.w-100 {
  width: 100%;
}