:root {
  --black: #000;
  --red: #f42;
  --white: #fff;
}

/**
*
* globals
*
*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/**
*
* bootstrap helpers
*
*/
.text-center {
  text-align: center;
}
.d-inline-flex {
  display: inline-flex;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.container {
  max-width: 1152px;
}

/**
*
* normal helpers
*
*/
.title-mb--xs {
  margin-bottom: 0.25rem;
}
.title-mb--md {
  margin-bottom: 0.875rem;
}
.title-mb--lg {
  margin-bottom: 1.5rem;
}

.text--md {
  font-size: 13px;
  line-height: 19.5px;
}

.title--md {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.title--lg {
  font-family: Avalon, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}
.title--xl {
  font-family: Avalon, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
}

/**
*
* section
*
*/
.section__title {
  display: flex;
}
.section-title__link {
  color: var(--red);
  text-decoration: none;
  padding-right: 0.3125rem;
}
.section-title__link:hover {
  cursor: pointer;
  color: var(--black);
}
.section-title__link:hover .arrow--right:after {
  border-right: 3px solid var(--black);
  border-top: 3px solid var(--black);
}

/**
*
* arrows
*
*/
.arrow--right {
  height: 8px;
  width: 8px;
}
.arrow--right:after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-right: 3px solid var(--red);
  border-top: 3px solid var(--red);
  content: "";
  display: inline-block;
  height: 8px;
  transform: rotate(45deg);
  vertical-align: middle;
  width: 8px;
}

.header {
  background-color: var(--white);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  height: 48px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 10px;
  background: linear-gradient(to bottom right, #c09, var(--red) 85%);
  height: 100%;
  position: relative;
  width: 106px;
  cursor: pointer;
}
.header__logo img {
  /* transform: translateY(32px); */
  /* transform .4s ease,-webkit-transform .4s ease; */
  height: 16px;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 66px;
}

.header__nav-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Shentox, sans-serif;
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: 1;
  font-weight: 500;
}
.header__nav-list a {
  padding: 0 10px;
  color: #aaa;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}
.header__nav-list a:hover {
  color: var(--black);
}

/**
*
* four-card-row
*
*/
.four-cards {
  display: flex;
  flex-wrap: wrap;
}
.four-cards__card {
  /* max-width: 294px; */
}
.four-cards__img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
@media (min-width: 768px) {
}
/**
*
* footer
*
*/
.footer {
  /* reserved */
}

.footer__links {
  background-color: #131313;
  padding: 48px 20px 32px;
}

.footer__legal {
  background-color: var(--black);
  color: #aaa;
  padding: 3rem 0;
  text-align: center;
}
.footer__legal-content {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer__legal-content {
    display: inline;
  }
}
.footer__legal-img {
  height: 9px;
}

.footer__social-links,
.footer__word-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__social-links li {
  margin: 0 0.25rem;
}

.footer__social-links a,
.footer__word-links a {
  display: block;
  text-decoration: none;
  color: #aaa;
}

.footer__social-links {
  margin-bottom: 1.5rem;
}
.footer__social-links a {
  background-color: #333;
  border-radius: 50%;
  border: 2px solid transparent;
  height: 38px;
  position: relative;
  width: 38px;
}
.footer__social-links a:hover {
  background-color: transparent;
  border: 2px solid #333;
}
.footer__social-links a img {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer__word-links li {
  display: inline-block;
  font-family: Shentox, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 4px;
  text-transform: uppercase;
}
.footer__word-links a:hover {
  color: var(--white);
}

@media (min-width: 768px) {
  .footer__social-links li {
    margin: 0 8px;
  }
}
