:root {
  --black: #000;
  --red: #f42;
  --white: #fff;
}

/**
*
* globals
*
*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
}

/**
*
* normal helpers
*
*/
.title-mb--xs {
  margin-bottom: 0.25rem;
}
.title-mb--md {
  margin-bottom: 0.875rem;
}
.title-mb--lg {
  margin-bottom: 1.5rem;
}

.text--md {
  font-size: 13px;
  line-height: 19.5px;
}
.text--lg {
  font-size: 16px;
  line-height: 18px;
}

.title--md {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.title--lg {
  font-family: Avalon, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}
.title--xl {
  font-family: Avalon, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
}

/**
*
* section
*
*/
.section-title a {
  color: var(--red);
  padding-right: 5px;
  text-decoration: none;
}
.section-title__container {
  align-items: center;
  display: flex;
}
.section-title__container:hover a {
  color: var(--black);
  cursor: pointer;
}
.section-title__container:hover .arrow--right:after {
  border-right: 3px solid var(--black);
  border-top: 3px solid var(--black);
}

.section-margin {
  margin: 2.5rem 0;
}

/**
*
* arrows
*
*/
.arrow--right {
  height: 18px;
  width: 16px;
}
.arrow--right:after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-right: 3px solid var(--red);
  border-top: 3px solid var(--red);
  content: "";
  display: inline-block;
  height: 8px;
  transform: rotate(45deg);
  vertical-align: middle;
  width: 8px;
  z-index: -1;
}

/**
*
* top-bar
*
*/
.black-bar {
  align-items: center;
  background-color: #131313;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  justify-content: space-between;
  line-height: 32px;
  max-height: 32px;
  position: relative;
  z-index: 2;
}
.black-bar__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.black-bar__list li:first-child {
  margin-left: 20px;
}
.black-bar__list li:last-child {
  margin-right: 20px;
}
.black-bar__list li {
  margin-left: 12px;
}
.black-bar__list a {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}
.black-bar__list a:hover {
  color: var(--white);
}
.black-bar__list li.active a {
  color: var(--white);
}

/**
*
* header
*
*/
.header {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 48px;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.header__container-1 {
  align-items: center;
  display: flex;
}
.header__logo {
  background: linear-gradient(to bottom right, #c09, var(--red) 85%);
  height: 48px;
  margin-right: 10px;
  position: relative;
  width: 106px;
}
.header__logo:hover {
  background: url(/images/gifs/funny-gif.gif);
  cursor: pointer;
}
.header__logo:hover .header-logo__nav {
  height: auto;
  transform: translateY(0);
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
.header__logo img {
  height: 16px;
  left: 20%;
  margin: 0;
  position: absolute;
  top: 0%;
  transform: translate(0, 100%);
  transition: 0.4s ease, -webkit-transform 0.4s ease;
  width: 66px;
  z-index: 3;
}
.header-logo__nav {
  display: none;
  position: relative;
  transform: translateY(-105%);
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  z-index: -1;
}
.header-logo__nav-list {
  background-color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  list-style-type: none;
  margin: 48px 0 0 0;
  padding: 4px 0;
  text-align: center;
  text-transform: capitalize;
}
.header-logo__nav-list li {
  padding: 6px 0;
}
.header-logo__nav-list li:hover a {
  color: var(--white);
}
.header-logo__nav-list a {
  color: hsla(0, 0%, 100%, 0.6);
  text-decoration: none;
}
.header-logo__nav-list a.active {
  color: var(--white);
}

.header__nav {
  display: none;
}
.header__nav-list {
  display: flex;
  font-family: Shentox, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.56px;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header__nav-list a {
  color: #aaa;
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.header__nav-list a:hover {
  color: var(--black);
}
@media (min-width: 768px) {
  .header__nav {
    display: block;
  }
  .header-logo__nav {
    display: block;
  }
}

/**
*
* mobile nav button
*
*/
.mobile-nav-button {
  border-left: 1px solid #eee;
  cursor: pointer;
  height: 48px;
  position: relative;
  width: 48px;
  z-index: 12;
}
.mobile-nav-button__bar {
  background-color: var(--red);
  display: block;
  height: 2px;
  left: 14px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  transition: 0.4s;
  width: 20px;
}
.mobile-nav-button__bar:first-of-type {
  transform: translateY(-6px);
}
.mobile-nav-button__bar:last-of-type {
  transform: translateY(6px);
}

.mobile-nav-button.active {
  border-left: none;
  transform: rotate(90deg);
  transition-duration: 0.4s;
}
.mobile-nav-button.active .mobile-nav-button__bar {
  background-color: var(--white);
}
.mobile-nav-button.active .mobile-nav-button__bar:first-of-type {
  transform: rotate(45deg) translate(0);
}
.mobile-nav-button.active .mobile-nav-button__bar:nth-of-type(2) {
  transform: scaleX(0);
}
.mobile-nav-button.active .mobile-nav-button__bar:last-of-type {
  transform: rotate(-45deg) translate(0);
}
@media (min-width: 768px) {
  .mobile-nav-button {
    display: none;
  }
}

/**
*
* mobile nav
*
*/
.no-scroll {
  overflow: hidden;
}

.mobile-nav {
  background: linear-gradient(to bottom right, #c09, var(--red) 85%);
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition-duration: 0.4s;
  width: 100%;
  will-change: transform;
  z-index: 10;
}
.mobile-nav.active {
  transform: translateX(0);
}

/***************** UNCOMMENT THIS FOR A EPIC TRANSITION *****************/
.mobile-nav {
  /* max-width: 0;
  overflow: hidden; */
}
.mobile-nav.active {
  /* max-width: 100%;
  overflow: visible; */
}
/***************** ************************************ *****************/

.mobile-nav__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  padding: 20px;
}
.mobile-nav__column {
  flex: 0 0 50%;
}
.mobile-nav__title {
  color: var(--white);
  font-family: Shentox, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-transform: uppercase;
}
.mobile-nav__list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  list-style-type: none;
  margin: 0 0 2rem;
  padding: 0;
}
.mobile-nav__list li {
  margin-top: 0.5em;
}
.mobile-nav__list a {
  color: #aaa;
  text-decoration: none;
  text-transform: capitalize;
}

.mobile-nav__social-nav {
  flex: 0 0 100%;
}
.mobile-nav__social-nav-list {
  display: flex;
  list-style-type: none;
  margin: 0 0 40px;
  padding: 0;
}
.mobile-nav__social-nav-list li {
  padding: 0 3%;
}
.mobile-nav__social-nav-list img {
  height: 16px;
  width: 16px;
}
.mobile-nav-active {
  position: relative;
  z-index: -1;
}
@media (min-width: 852px) {
  .mobile-nav {
    display: none;
  }
}

/**
*
* four-card-row
*
*/
.four-cards {
  display: flex;
  flex-wrap: wrap;
}
.four-cards__card {
  /* max-width: 294px; */
}
.four-cards__img {
  height: 75px;
  object-fit: cover;
  width: 75px;
}
@media (min-width: 768px) {
}

/**
*
* card
*
*/
.card {
  /* margin: 0 15px; */
  /* padding: 8px 0; */
  align-items: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
.card__img {
  height: 75px;
  object-fit: cover;
  padding-right: 13px;
  width: 75px;
}
.card__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 4px;
  text-transform: capitalize;
}
.card__price--old {
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
  text-decoration: line-through;
}
.card__price--new {
  color: #555;
  font-size: 14px;
  line-height: 18px;
  padding-left: 3px;
}
.card__container {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .card {
    /* margin: 8px; */
    /* padding-right: 3px; */
    /* width: 100%; */
    flex-wrap: wrap;
    flex: 0 0 31%;
    flex: 0 0 calc(100% / 3);
    height: 100%;
    padding: 8px;
  }
  .card__img {
    height: 95%;
    object-fit: cover;
    padding-bottom: 8px;
    padding-right: 0;
    width: 100%;
  }
  .card__title {
    display: block;
  }
}
@media (min-width: 1024px) {
  .card {
    flex: 0 0 calc(100% / 4);
  }
  .card__price--old {
    line-height: 20px;
  }
  .card__price--new {
    font-size: 16px;
    line-height: 20px;
  }
}

/**
*
* footer
*
*/
.footer {
  /* reserved */
}

.footer__links {
  background-color: #131313;
  padding: 48px 20px 32px;
}

.footer__legal {
  background-color: var(--black);
  color: #aaa;
  padding: 3rem 0;
  text-align: center;
}
.footer__legal-content {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer__legal-content {
    display: inline;
  }
}
.footer__legal-img {
  height: 9px;
}

.footer__social-links,
.footer__word-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__social-links li {
  margin: 0 0.25rem;
}

.footer__social-links a,
.footer__word-links a {
  color: #aaa;
  display: block;
  text-decoration: none;
}

.footer__social-links {
  margin-bottom: 1.5rem;
}
.footer__social-links a {
  background-color: #333;
  border-radius: 50%;
  border: 2px solid transparent;
  height: 38px;
  position: relative;
  width: 38px;
}
.footer__social-links a:hover {
  background-color: transparent;
  border: 2px solid #333;
}
.footer__social-links a img {
  height: 16px;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
}

.footer__word-links li {
  display: inline-block;
  font-family: Shentox, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 4px;
  text-transform: uppercase;
}
.footer__word-links a:hover {
  color: var(--white);
}

@media (min-width: 768px) {
  .footer__social-links li {
    margin: 0 8px;
  }
}
